<h2>Show Details</h2>

<% content_for(:page_header) do %>
  <%= "Sensor detail" %>
<% end %>
<% content_for :panel_heading do %><%= @sensor.name %><% end %>

<p>
  <strong>Name:</strong>
  <%= @reading.sensor_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @reading.value %>
</p>

<p>
  <strong>Plant:</strong>
  <%= @reading.plant_id %>
</p>
